<header class="admin-header header_component">
    <a class="navbar-brand" href="/">
        <img src="/images/resources/TimeCart Logo.jpeg" class="logo" alt="timeCart logo">
    </a>

    <div class="nav-items">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">Stats</a>
        </li>
    </div>

    <div class="login">
        <a href="/profile" class="nav-link">{{user.name}}<i class="fa-regular fa-circle-user"></i> </a>
    </div>
</header>