<footer class="footer_component">
    <div class="links">
        <div class="get-know box">
            <h3>Get to Know Us</h3>

            <a href="">About timeCart</a>
            <a href="">Careers</a>
            <a href="">Press Releases</a>
            <a href="">timCart Science</a>
        </div>
        <div class="connect box">
            <h3>Connect with Us</h3>

            <a href="">Facebook</a>
            <a href="">Twitter</a>
            <a href="">Instagram</a>
            <a href="">Youtube</a>
        </div>
        <div class="make-money box">
            <h3>Make Money with Us</h3>

            <a href="">Sell on timeCart</a>
            <a href="">Sell under timeCart Accelerator</a>
            <a href="">timeCart Global Selling</a>
            <a href="">Protect and Build Your Brand</a>
            <a href="">Become an Affiliate</a>
            <a href="">timeCart Pay on Merchants</a>
        </div>
        <div class="help box">
            <h3>Let Us help You</h3>

            <a href="">Your Account</a>
            <a href="">Return Centre</a>
            <a href="">Product Safety Alerts</a>
            <a href="">Purchase Protection</a>
            <a href="">timeCart App Download</a>
        </div>
    </div>

    <div class="bottom">
        <img src="/images/resources/TimeCart Banner.png" alt="timeCart-banner">

        <div class="langs">
            <button>Language</button>

            <div class="options">
                <a href="">Englsih</a>
                <a href="">Hindi</a>
                <a href="">Telugu</a>
            </div>
        </div>
    </div>
    
    <div class="copyrights">
        <div class="t-n-c">
            <a href="">Conditions of Use & Sale</a>
            <a href="">Privacy Notic</a>
            <a href="">Interest-Based Ads</a>
        </div>
        <p>© 1996-2026, timeCart.com, Inc. or its affiliates</p>
    </div>
</footer>

{{!-- Links --}}
<link rel="stylesheet" href="/stylesheets/common/foooter/footer.css">