{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/common/header/header.css">

{{!-- HBS --}}
<header class="seller-header header_component">
    <div class="icons">
        <i class="fa-solid fa-bars" onclick="toggle()"></i>
        <a class="navbar-brand" href="/">
            <img src="/images/resources/TimeCart Logo.jpeg" class="logo" alt="timeCart logo">
        </a>
    </div>

    <div class="nav-items">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/seller">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/returns">Returns</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/users">Stats</a>
        </li>
    </div>

    <div class="login">
        <a href="/seller/profile" class="nav-link">{{seller.name}}<i class="fa-regular fa-circle-user"></i> </a>
    </div>
</header>

{{!-- JS --}}
<script src="/javascripts/common/header.js"></script>