.view-products {
  background-color: black;
  padding: 2rem;
}
.view-products .title {
  font-style: italic;
  color: #c59a4a;
  margin-bottom: 1rem;
}
.view-products .cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}
.view-products .cards .card {
  padding: 0.5rem;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  color: #f4e3c1;
  background: linear-gradient(135deg, #1a1a1a, #2c2c2c);
  border: 1px solid #c59a4a;
  box-shadow: 0 4px 15px rgba(197, 154, 74, 0.3);
  transition: 0.2s transform ease-in-out;
}
.view-products .cards .card:hover {
  transform: scale(1.02);
}
.view-products .cards .card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: start;
}
.view-products .cards .card .details img {
  width: 100%;
  height: 11rem;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-products .cards .card .details .infos {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.view-products .cards .card .details .infos h5 {
  opacity: 0.8;
}
.view-products .cards .card .details .infos h3 {
  text-align: left;
  margin: 5px;
}
.view-products .cards .card .details .infos h3 span {
  font-family: sans-serif;
}
.view-products .cards .card .details .infos h3 strike {
  color: rgb(53, 50, 50);
  -webkit-text-decoration: line-through 2px;
          text-decoration: line-through 2px;
  margin: 5px;
}
.view-products .cards .card .details .infos p {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: 0.75;
}
.view-products .empty-list {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.view-products .empty-list p {
  color: #c59a4a;
  font-size: 1.2rem;
  font-style: italic;
}
.view-products .empty-list p span {
  font-size: 1.75rem;
}

@media screen and (max-width: 767px) {
  .view-products {
    padding: 1rem;
  }
  .view-products .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .view-products .cards .card {
    padding: 0.35rem;
    gap: 0.25rem;
  }
  .view-products .cards .card .details {
    gap: 0.25rem;
  }
  .view-products .cards .card .details img {
    height: 7rem;
  }
  .view-products .cards .card .details .infos {
    gap: 0.15rem;
  }
  .view-products .cards .card .details .infos h5 {
    font-size: 10px;
  }
  .view-products .cards .card .details .infos h4 {
    font-size: 12px;
  }
  .view-products .cards .card .details .infos p {
    font-size: 9px;
  }
  .view-products .cards .card .details .infos h3 {
    font-size: 12.5px;
    margin: 5px 2.5px;
  }
  .view-products .cards .card .details .infos h3 strike {
    margin: 5px 2.5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .view-products .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .view-products .cards .card .details .infos h3 {
    font-size: 16px;
  }
}/*# sourceMappingURL=view-products.css.map */