.cart_component {
  width: 100%;
  padding: 2.5rem 7.5rem;
  display: flex;
  gap: 5rem;
  color: #CBA74E;
  background-color: rgb(14, 13, 13);
}
.cart_component .cards {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.cart_component .cards .card {
  display: flex;
  outline: 1px solid peru;
  height: 12rem;
  margin-bottom: 1rem;
}
.cart_component .cards .card img {
  width: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart_component .cards .card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
}
.cart_component .cards .card .details .product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: justify;
}
.cart_component .cards .card .details .price strike {
  color: rgba(189, 166, 144, 0.75);
  -webkit-text-decoration: line-through 3px rgb(61, 56, 56);
          text-decoration: line-through 3px rgb(61, 56, 56);
}
.cart_component .cards .card .details p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: justify;
}
.cart_component .cards .card .details .actions {
  display: flex;
  gap: 1rem;
}
.cart_component .cards .card .details .actions .qnty {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgba(205, 134, 63, 0.25);
  gap: 0.75rem;
  width: -moz-max-content;
  width: max-content;
  padding: 4px;
}
.cart_component .cards .card .details .actions .qnty p {
  width: 1rem;
  align-content: center;
  text-align: center;
}
.cart_component .cards .card .details .actions .qnty button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.cart_component .cards .card .details .actions .qnty button:hover {
  background-color: #CBA74E;
}
.cart_component .cards .card .details .actions .move {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(205, 134, 63, 0.25);
  padding: 4px 1rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.cart_component .cards .card .details .actions .move span {
  margin-right: 7.5px;
}
.cart_component .cards .card .details .actions .move:hover {
  border: 2px solid rgba(205, 134, 63, 0.5);
  background-color: black;
}
.cart_component .cards .card .details .actions .move.remove:hover {
  border: 2px solid rgba(250, 30, 30, 0.25);
}
.cart_component .right-section {
  width: 30%;
  height: -moz-max-content;
  height: max-content;
}
.cart_component .right-section .total-summary {
  outline: 1px solid peru;
}
.cart_component .right-section .total-summary table {
  outline: 1px solid peru;
  padding: 1rem;
  width: 100%;
  height: 12.5rem;
}
.cart_component .right-section .total-summary .price-and-btn {
  padding: 1rem;
}
.cart_component .right-section .total-summary .price-and-btn h3 {
  margin: 1rem 0;
}
.cart_component .right-section .total-summary .price-and-btn .checkout {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid peru;
  background-color: peachpuff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: background-color 0.2s ease-in-out;
}
.cart_component .right-section .total-summary .price-and-btn .checkout:hover {
  background-color: #CBA74E;
}
.cart_component .empty-cart {
  outline: 2px solid peru;
  width: 100%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cart_component .empty-cart a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: #CBA74E;
  font-weight: 700;
  cursor: pointer;
}
.cart_component .empty-cart a:hover {
  background-color: #af892a;
}
.cart_component #section-title {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .cart_component {
    padding: 2.25rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .cart_component .cards {
    width: 100%;
  }
  .cart_component .cards .card {
    position: relative;
    height: 10rem;
  }
  .cart_component .cards .card img {
    width: 7rem;
  }
  .cart_component .cards .card .details {
    padding: 0.5rem 0.75rem;
  }
  .cart_component .cards .card .details .product-name {
    font-size: 15px;
  }
  .cart_component .cards .card .details .brand-name {
    font-size: 12.5px;
  }
  .cart_component .cards .card .details .description {
    font-size: 11px;
  }
  .cart_component .cards .card .details .price {
    font-size: 16px;
  }
  .cart_component .cards .card .details .actions .qnty {
    gap: 0.5rem;
  }
  .cart_component .cards .card .details .actions .qnty p {
    width: 0.5rem;
    font-size: 15px;
  }
  .cart_component .cards .card .details .actions .qnty button {
    width: 1rem;
    height: 1rem;
  }
  .cart_component .cards .card .details .actions .move {
    position: absolute;
    top: unset;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    padding: 0.2rem 0.5rem;
    font-size: 12.5px;
  }
  .cart_component .cards .card .details .actions .move.remove {
    top: 10px;
    bottom: unset;
    padding: 0.25rem;
  }
  .cart_component .cards .card .details .actions .move.remove span {
    display: none;
  }
  .cart_component .cards .card .details .actions .move.wishlist {
    height: 2rem;
  }
  .cart_component .right-section {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cart_component {
    padding: 2.25rem;
    gap: 1.5rem;
    flex-direction: row;
  }
  .cart_component .cards {
    width: 65%;
  }
  .cart_component .cards .card {
    height: 9rem;
    position: relative;
  }
  .cart_component .cards .card img {
    width: 8rem;
  }
  .cart_component .cards .card .details {
    padding: 0.5rem 0.75rem;
  }
  .cart_component .cards .card .details .product-name {
    font-size: 15px;
  }
  .cart_component .cards .card .details .brand-name {
    font-size: 12.5px;
  }
  .cart_component .cards .card .details .description {
    font-size: 11px;
  }
  .cart_component .cards .card .details .price {
    font-size: 16px;
  }
  .cart_component .cards .card .details .actions .qnty {
    gap: 0.5rem;
  }
  .cart_component .cards .card .details .actions .qnty p {
    width: 0.75rem;
    font-size: 17.5px;
  }
  .cart_component .cards .card .details .actions .qnty button {
    width: 1.75rem;
    height: 1.5rem;
  }
  .cart_component .cards .card .details .actions .move {
    position: absolute;
    top: unset;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    padding: 0.2rem 0.5rem;
    font-size: 12.5px;
  }
  .cart_component .cards .card .details .actions .move.remove {
    top: 10px;
    bottom: unset;
    padding: 0.25rem;
  }
  .cart_component .cards .card .details .actions .move.remove span {
    display: none;
  }
  .cart_component .cards .card .details .actions .move.wishlist {
    height: 2rem;
  }
  .cart_component .right-section {
    width: 35%;
  }
  .cart_component .right-section .total-summary table tbody {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .cart_component .right-section .total-summary table tbody tr {
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
  }
  .cart_component .right-section .total-summary table tbody tr td {
    text-align: start;
  }
}/*# sourceMappingURL=cart.css.map */