.cart_component {
    width: 100%;
    padding: 2.5rem 7.5rem;
    display: flex;
    gap: 5rem;
    color: #CBA74E;
    background-color: rgb(14, 13, 13);

    .cards {
        width: 70%;
        display: flex;
        flex-direction: column;

        .card {
            display: flex;
            outline: 1px solid peru;
            height: 12rem;
            margin-bottom: 1rem;

            img {
                width: 12.5rem;
                object-fit: cover;
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: .5rem 1rem;

                .product-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    max-width: 80%;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    -webkit-box-orient: vertical;
                    text-align: justify;
                }

                .price {
                    strike {
                        color: rgba(189, 166, 144, 0.75);
                        text-decoration: line-through 3px rgb(61, 56, 56);
                    }
                }

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-align: justify;
                }

                .actions {
                    display: flex;
                    gap: 1rem;

                    .qnty {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        outline: 1px solid rgba(205, 134, 63, 0.25);
                        gap: .75rem;
                        width: max-content;
                        padding: 4px;

                        p {
                            width: 1rem;
                            align-content: center;
                            text-align: center;
                        }

                        button {
                            width: 2rem;
                            height: 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: large;
                            font-weight: bolder;
                            cursor: pointer;
                            transition: background-color .3s ease-in-out;

                            &:hover {
                                background-color: #CBA74E;
                            }
                        }
                    }

                    .move {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid rgba(205, 134, 63, 0.25);
                        padding: 4px 1rem;
                        cursor: pointer;
                        transition: all .25s ease-in-out;

                        span {
                            margin-right: 7.5px;
                        }

                        &:hover {
                            border: 2px solid rgba(205, 134, 63, 0.5);
                            background-color: black;
                        }

                        &.remove:hover {
                            border: 2px solid rgba(250, 30, 30, 0.25);
                        }
                    }
                }
            }
        }
    }


    .right-section {
        width: 30%;
        height: max-content;

        .total-summary {
            outline: 1px solid peru;

            table {
                outline: 1px solid peru;
                padding: 1rem;
                width: 100%;
                height: 12.5rem;
            }

            .price-and-btn {
                padding: 1rem;

                h3 {
                    margin: 1rem 0;
                }

                .checkout {
                    display: block;
                    text-align: center;
                    width: 100%;
                    padding: .5rem;
                    border-radius: 5px;
                    outline: none;
                    border: 2px solid peru;
                    background-color: peachpuff;
                    font-weight: 700;
                    font-size: 14px;
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                    transition: background-color .2s ease-in-out;

                    &:hover {
                        background-color: #CBA74E;
                    }
                }
            }
        }
    }

    .empty-cart {
        outline: 2px solid peru;
        width: 100%;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        a {
            display: block;
            text-decoration: none;
            color: black;
            padding: .75rem 1rem;
            border-radius: 5px;
            border: none;
            outline: none;
            transition: .2s ease-in-out;
            background-color: #CBA74E;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: #af892a;
            }
        }
    }

    #section-title {
        margin-bottom: 1rem;
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:767px) {
    .cart_component {
        padding: 2.25rem;
        flex-direction: column;
        gap: 1.5rem;

        .cards {
            width: 100%;

            .card {
                position: relative;
                height: 10rem;

                img {
                    width: 7rem;
                }

                .details {
                    padding: .5rem .75rem;

                    .product-name {
                        font-size: 15px;
                    }

                    .brand-name {
                        font-size: 12.5px;
                    }

                    .description {
                        font-size: 11px;
                    }

                    .price {
                        font-size: 16px;
                    }

                    .actions {
                        .qnty {
                            gap: .5rem;

                            p {
                                width: .5rem;
                                font-size: 15px;
                            }

                            button {
                                width: 1rem;
                                height: 1rem;
                            }
                        }

                        .move {
                            position: absolute;
                            top: unset;
                            bottom: 10px;
                            right: 10px;
                            padding: .2rem .5rem;
                            font-size: 12.5px;

                            &.remove {
                                top: 10px;
                                bottom: unset;
                                padding: .25rem;

                                span {
                                    display: none;
                                }
                            }

                            &.wishlist {
                                height: 2rem;
                            }
                        }
                    }
                }
            }
        }

        .right-section {
            width: 100%;
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .cart_component {
        padding: 2.25rem;
        gap: 1.5rem;
        flex-direction: row;

        .cards {
            width: 65%;

            .card {
                height: 9rem;
                position: relative;

                img {
                    width: 8rem;
                }

                .details {
                    padding: .5rem .75rem;

                    .product-name {
                        font-size: 15px;
                    }

                    .brand-name {
                        font-size: 12.5px;
                    }

                    .description {
                        font-size: 11px;
                    }

                    .price {
                        font-size: 16px;
                    }

                    .actions {
                        .qnty {
                            gap: .5rem;

                            p {
                                width: .75rem;
                                font-size: 17.5px;
                            }

                            button {
                                width: 1.75rem;
                                height: 1.5rem;
                            }
                        }

                        .move {
                            position: absolute;
                            top: unset;
                            bottom: 10px;
                            right: 10px;
                            z-index: 2;
                            padding: .2rem .5rem;
                            font-size: 12.5px;

                            &.remove {
                                top: 10px;
                                bottom: unset;
                                padding: .25rem;

                                span {
                                    display: none;
                                }
                            }

                            &.wishlist {
                                height: 2rem;
                            }
                        }
                    }
                }
            }
        }

        .right-section {
            width: 35%;

            .total-summary {
                table {
                    tbody {
                        display: flex;
                        flex-direction: column;
                        gap: 1.25rem;

                        tr {
                            font-size: .85rem;
                            display: flex;
                            justify-content: space-between;

                            td {
                                text-align: start;
                            }
                        }
                    }
                }
            }
        }
    }
}