{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/login/login.css">

{{!-- HBS --}}
<div class="login login_component ">
    <h2>Login</h2>
    {{#if loginErr}}<p>{{loginErr}}</p>{{/if}}

    <form action="/login" method="post">
        <input type="email" name="email" required placeholder="Enter email address">
        <input type="password" name="password" minlength="3" maxlength="32" required placeholder="Enter password">
        <div class="actions">
            <button type="submit">Login</button>
            <a href="/signup">Create new account ?</a>
        </div>
    </form>
</div>