{{!-- CSS --}}
<link rel="stylesheet" href="/stylesheets/user/order-success/order-success.css">

<div class="order-success_page">
    <div class="success-msg">
        <img src="/images/resources/order-placed.png" alt="">
        <h2>ORDER SUCCESSFUL</h2>
    </div>

    <div class="order-infos">
        <div class="address">
            <p class="heading"><i class="fa-solid fa-truck"></i>Delivery Address</p>
            <p class="content">Snehesh Thattil, Thattil House, Cherankunnu, Koyyam-po, Taliparamba, Kannur,
                Pincode: 670142, Kerala, India</p>
        </div>

        <div class="contact">
            <p class="heading"><i class="fa-solid fa-phone"></i>Contact Details</p>
            <p class="content">Email: sneheshthattil75@gmail.com <br> Phone: +91 6235902137</p>
        </div>

        <div class="summary">
            <p class="heading"><i class="fa-solid fa-clipboard-list"></i>Order Summary</p>
            <div class="content">
                <p>Sub Total: <span>1000</span> </p>
                <p>Delivery Charges: <span>49</span> </p>
                <br>
                <hr>
                <br>
                <p>Total: <span>1049</span> </p>
            </div>
        </div>

        <div class="redirect">
            <a href="/orders">Got to orders <i class="fa-solid fa-caret-right"></i></a>
        </div>
    </div>
</div>