.review-product_page {
  width: 100%;
  padding: 2rem 15rem;
}
.review-product_page .title {
  color: rgba(205, 134, 63, 0.75);
  margin-bottom: 1rem;
}
.review-product_page .product-card {
  display: flex;
  gap: 0.5rem;
  height: 12.5rem;
  position: relative;
  outline: 1px solid peru;
  background-color: rgb(15, 15, 15);
  margin-bottom: 1rem;
}
.review-product_page .product-card a img {
  width: 15rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review-product_page .product-card .details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  color: peru;
}
.review-product_page .product-card .details .names .brand-name {
  font-size: 15px;
}
.review-product_page .product-card .details .names .product-name {
  font-size: 20px;
}
.review-product_page .product-card .details .price {
  font-size: 22px;
}
.review-product_page .product-card .details .price span {
  font-size: 17.5px;
  color: rgba(128, 128, 128, 0.699);
  -webkit-text-decoration: line-through 2px;
          text-decoration: line-through 2px;
}
.review-product_page .review {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 2rem;
  gap: 1.25rem;
  overflow: visible;
  position: relative;
  outline: 1px solid peru;
  background-color: rgb(15, 15, 15);
}
.review-product_page .review .rating {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.review-product_page .review .rating p {
  font-size: 1.5rem;
  font-weight: 600;
  color: peru;
}
.review-product_page .review .rating .custom-dropdown {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2.5px;
}
.review-product_page .review .rating .custom-dropdown .selected {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
  background-color: #f8f8f8;
}
.review-product_page .review .rating .custom-dropdown .dropdown-options {
  display: none;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
  font-size: 1rem;
  font-weight: bold;
  z-index: 10;
}
.review-product_page .review .rating .custom-dropdown .dropdown-options li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.review-product_page .review .rating .custom-dropdown .dropdown-options li:hover {
  background-color: #e6e6e6;
}
.review-product_page .review textarea {
  width: 100%;
  min-height: 120px;
  resize: vertical;
  background-color: rgba(205, 134, 63, 0.185);
  color: white;
  padding: 1rem;
  font-size: 1rem;
  transition: border 0.3s ease;
}
.review-product_page .review textarea:focus {
  outline: none;
  border-color: white;
}
.review-product_page .review button[type=submit] {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(205, 134, 63, 0.5);
}
.review-product_page .review button[type=submit]:hover {
  background-color: rgba(205, 134, 63, 0.75);
}
.review-product_page .review button[type=submit]:active {
  background-color: #004494;
}

@media screen and (max-width: 767px) {
  .review-product_page {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .review-product_page .product-card {
    width: 100%;
    height: 10rem;
  }
  .review-product_page .product-card a img {
    width: 7.5rem;
  }
  .review-product_page .review {
    width: 100%;
    padding: 1.25rem;
  }
  .review-product_page .review .rating {
    gap: 0.5rem;
  }
  .review-product_page .review .rating p {
    font-size: 0.85rem;
  }
  .review-product_page .review .rating .custom-dropdown .selected {
    min-height: 2rem;
    min-width: 2rem;
  }
  .review-product_page .review textarea {
    font-size: 0.75rem;
  }
  .review-product_page .review button[type=submit] {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .review-product_page {
    padding: 2rem 3rem 3rem;
  }
  .review-product_page .review .rating .custom-dropdown .selected {
    min-height: 1.75rem;
    min-width: 1.75rem;
  }
}/*# sourceMappingURL=review-product.css.map */