.product-form_component {
    width: 100%;
    padding: 2.5rem 5rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h2 {
        color: peru;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            outline: 2px solid rgb(78, 77, 77);
            padding: 2rem;

            .radios {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 2rem;

                .radio {
                    display: flex;
                    flex-direction: column;
                    gap: .7rem;
                    align-items: center;

                    label {
                        cursor: pointer;
                    }

                    input {
                        transform: scale(1.5);
                        cursor: pointer;
                    }
                }
            }

            input,
            textarea {
                padding: .75rem;
                border-radius: 5px;
                border: none;
                outline: none;
                resize: vertical;
                max-width: 100%;
                box-sizing: border-box;
            }

            input {
                width: 60%;
            }

            .img-upload {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 2rem;
                border: 2px solid peru;
                border-radius: 2.5px;
                cursor: pointer;

                img {
                    width: 6rem;
                    object-fit: cover;
                }
            }

            .preview-container {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 5px;

                .wrapper {
                    position: relative;
                    height: 6rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border: 2px solid peru;
                        border-radius: 2px;
                    }

                    .remove-btn {
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        background-color: black;
                        border-radius: 10%;
                        padding: 2px;
                        cursor: pointer;
                    }

                    .cover {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: peru;
                        text-align: center;
                        font-style: italic;
                    }
                }
            }

            button {
                padding: .75rem 1rem;
                width: 10rem;
                border: none;
                background-color: #CBA74E;
                border-radius: 5px;
                color: black;
                text-align: center;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: peru;
                }
            }
        }
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:767px) {
    .product-form_component {
        padding: 1rem;

        form {
            width: 100%;

            .form-group {
                input {
                    width: 100%;
                }

                .radios {
                    flex-wrap: wrap;

                    .radio {
                        flex-wrap: wrap;

                        input {
                            width: unset;
                        }
                    }
                }

                .img-upload {
                    gap: 1rem;

                    .upload-right {
                        padding: 0 .5rem;

                        h4 {
                            font-size: 14px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }

                .preview-container {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

@media (min-width: 768px)and (max-width:1024px) {
    .product-form_component {
        padding: 2rem;

        form {
            width: 75%;

            .form-group {
                .preview-container {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
}