* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  background-color: black;
  font-family: "DM Serif Display", "Cinzel", "Playfair Display", serif;
}

body.scroll-prevent {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.currency {
  font-family: 'Courier New', Courier, monospace;
  margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}