.manage-products_component {
    width: 100%;
    padding: 5rem;
    color: #CBA74E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    .table-wrapper {
        overflow-x: auto;
        width: 100%;
        outline: 1px solid #CBA74E;

        table {
            width: 100%;
            border-radius: 5px;
            min-width: 800px;

            thead {
                background-color: #f1f0ed;
                border-radius: 5px;
                color: black;
            }

            tbody {
                text-align: center;

                tr {
                    td {
                        border: 1px solid rgba(255, 255, 255, 0.185);
                        min-width: 2.5rem;
                        max-width: 13rem;
                        min-height: 9rem;
                        border-bottom: 2px solid rgba(200, 250, 0, 0.2);
                        text-transform: capitalize;
                        padding: 0 10px;

                        &.photos {
                            text-align: start;
                        }

                        img {
                            width: 3rem;
                            height: 3rem;
                            object-fit: cover;
                        }

                        a {
                            width: 100%;
                            padding: .5rem 1rem;
                            margin: 0 5px;
                            border-radius: 5px;
                            opacity: .75;

                            &:hover {
                                opacity: 1;
                            }

                            &.edit-btn {
                                background-color: #CBA74E;
                                color: white;
                            }

                            &.delete-btn {
                                background-color: rgb(56, 54, 54);
                                color: #CBA74E;
                            }
                        }
                    }
                }
            }
        }
    }

    .add-btn {
        padding: .5rem 1rem;
        width: 15rem;
        border: none;
        background-color: #CBA74E;
        border-radius: 5px;
        color: black;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: peru;
        }
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width: 767px) {
    .manage-products_component {
        padding: 2rem;

        .table-wrapper {
            table {
                font-size: 0.85rem;

                tbody {
                    tr {
                        td {
                            &.photos {
                                max-width: 20rem;
                            }

                            &.buttons {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: .5rem;
                            }

                            img {
                                width: 2.5rem;
                                height: 2.5rem;
                            }

                        }
                    }
                }
            }
        }

        .add-btn {
            width: 100%;
            padding: 0.5rem;
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .manage-products_component {
        .table-wrapper {
            table {
                font-size: 1rem;

                tbody {
                    tr {
                        td {
                            &.photos {
                                max-width: 25rem;
                            }

                            &.buttons {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: .5rem;
                            }

                            img {
                                width: 2.5rem;
                                height: 2.5rem;
                            }

                        }
                    }
                }
            }
        }
    }
}