.login_component {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(44, 41, 41, 0.685);
    padding: 5rem;
    color: #CBA74E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: .75rem;
        width: 25rem;

        input {
            padding: .75rem;
            outline: none;
            border: none;
            border-radius: 4px;
        }

        .actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin-top: .5rem;

            button {
                border-radius: 5px;
                width: 70%;
                font-weight: 600;
                padding: .75rem;
                outline: none;
                border: none;
                transition: all .2s ease-in-out;
                cursor: pointer;
                background-color: #bb9433d7;
                color: #0A0A0A;

                &:hover {
                    background-color: #d3a532;
                }
            }

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.75);
                transition: color .3s ease-in-out;

                &:hover {
                    color: #bb9533;
                }
            }
        }
    }
}