.checkout_page {
    max-width: 65%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 7.5px;
    background: #0d0d0d;
    color: #f5f5f5;
    font-family: 'Segoe UI', sans-serif;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: #e4b343;
    }

    form {
        .section {
            margin-bottom: 1.5rem;
            padding: 2rem;

            .section-titles {
                font-size: 1rem;
                color: #e4b343;
                margin-bottom: 1rem;
            }
        }

        .address {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            outline: 1px solid peru;
            border: none;
            border-radius: 0;

            input {
                padding: .5rem;
            }

            .pin-distr {
                width: 100%;
                display: flex;
                gap: 10px;

                .pin {
                    width: 35%;
                }

                .distr {
                    width: 65%;
                }
            }

            button {
                padding: .5rem;
                border-radius: 5px;
                outline: none;
                border-color: peru;
                background-color: peachpuff;
                font-weight: 700;
                cursor: pointer;
                transition: background-color .2s ease-in-out;

                &:hover {
                    background-color: #CBA74E;
                }
            }

        }

        .payment {
            background: #1a1a1a;
            outline: 1px solid peru;

            input[type="text"],
            input[type="tel"],
            input[type="email"] {
                width: 100%;
                padding: 0.6rem;
                margin: 0.5rem 0;
                background: transparent;
                border: 1px solid #e4b343;
                color: #f5f5f5;
                border-radius: 6px;

                &::placeholder {
                    color: #ccc;
                }
            }

            .row {
                display: flex;
                gap: 1rem;

                input {
                    flex: 1;
                }
            }

            label {
                display: block;
                margin-bottom: 0.6rem;

                input {
                    margin-right: 0.5rem;
                }

                &.radios {
                    cursor: pointer;
                }
            }

            .button {
                background: #ffcc99;
                color: #0d0d0d;
                padding: 0.6rem 1rem;
                border: none;
                width: 100%;
                margin-top: 1rem;
                font-weight: bold;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    background: lighten(#ffcc99, 10%);
                }
            }
        }

        .summary-box {
            background: #1a1a1a;
            outline: 1px solid peru;

            .summary p {
                display: flex;
                justify-content: space-between;
                margin: 0.4rem 0;
            }

            .total {
                border-top: 1px solid #e4b343;
                margin-top: 1rem;
                padding-top: 1rem;

                h3 {
                    color: #e4b343;
                    margin-bottom: 1rem;
                }

                .proceed-btn {
                    display: block;
                    text-align: center;
                    width: 100%;
                    padding: .5rem;
                    border-radius: 5px;
                    outline: none;
                    border: 2px solid peru;
                    background-color: peachpuff;
                    font-weight: 700;
                    font-size: 14px;
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                    transition: background-color .2s ease-in-out;

                    &:hover {
                        background-color: #CBA74E;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .checkout_page {
        max-width: 100%;
        margin: 0;
        padding: 2rem;

        form {
            .section {
                margin-bottom: 1.5rem;
                padding: 1.25rem;

                .section-titles {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .checkout_page {
        max-width: 80%;
    }
}